#Dark:root {
    --site-bg: #1c1e21;
    --card: #373d43;
    --block: #26292c;
    --block-border: #383d42;
    --block-hover: #2f3337;
    --text-p0: #fff;
    --text-p1: #ccc;
    --text-p2: #b3b3b3;
    --text-p3: #858585;
    --text-p4: #707070;
    --text-meta: #4d4d4d;
    --text-code: #ff6333;
}
@media screen and (max-width: 667px) {
    #Dark:root {
        --site-bg: #000;
    }
}
#Dark:root {
    --blur-bg: rgba(0,0,0,0.5);
}
#Dark .float-panel {
    --blur-bg: rgba(0,0,0,0.4);
}
#Dark .tag-plugin.tag {
    --theme: #ff6333;
    --theme-bg1: #3d1e14;
    --theme-bg2: #2f2522;
    --theme-border: #5c2d1f;
    --text-p0: #ffc4b3;
    --text-p1: #dfae9f;
    --text-p2: #f1997e;
}
#Dark .tag-plugin[color='red'] {
    --theme: #f44336;
    --theme-bg1: #3d1714;
    --theme-bg2: #2f2322;
    --theme-border: #5c231f;
    --text-p0: #ffb8b3;
    --text-p1: #dfa49f;
    --text-p2: #f1867e;
}
#Dark .tag-plugin[color='orange'] {
    --theme: #fa6400;
    --theme-bg1: #3d2514;
    --theme-bg2: #2f2722;
    --theme-border: #5c371f;
    --text-p0: #ffd1b3;
    --text-p1: #dfb99f;
    --text-p2: #f1ac7e;
}
#Dark .tag-plugin[color='yellow'] {
    --theme: #ffbd2b;
    --theme-bg1: #3d3014;
    --theme-bg2: #2f2b22;
    --theme-border: #5c491f;
    --text-p0: #ffe7b3;
    --text-p1: #dfcb9f;
    --text-p2: #f1cd7e;
}
#Dark .tag-plugin[color='green'] {
    --theme: #3dc550;
    --theme-bg1: #143d1a;
    --theme-bg2: #222f24;
    --theme-border: #1f5c27;
    --text-p0: #b3ffbd;
    --text-p1: #9fdfa8;
    --text-p2: #7ef18e;
}
#Dark .tag-plugin[color='cyan'] {
    --theme: #1bcdfc;
    --theme-bg1: #14353d;
    --theme-bg2: #222d2f;
    --theme-border: #1f4f5c;
    --text-p0: #b3efff;
    --text-p1: #9fd2df;
    --text-p2: #7ed9f1;
}
#Dark .tag-plugin[color='blue'] {
    --theme: #2196f3;
    --theme-bg1: #142b3d;
    --theme-bg2: #222a2f;
    --theme-border: #1f415c;
    --text-p0: #b3ddff;
    --text-p1: #9fc3df;
    --text-p2: #7ebef1;
}
#Dark .tag-plugin[color='purple'] {
    --theme: #9c27b0;
    --theme-bg1: #37143d;
    --theme-bg2: #2d222f;
    --theme-border: #531f5c;
    --text-p0: #f4b3ff;
    --text-p1: #d69fdf;
    --text-p2: #e07ef1;
}
#Dark .tag-plugin[color='light'] {
    --theme-border: #fff;
    --theme-bg1: #e0e0e0;
    --theme-bg2: #fff;
    --text-p0: #000;
    --text-p1: #111;
    --text-p2: #1f1f1f;
    --text-p3: #555;
    --text-code: #fff;
}
#Dark .tag-plugin[color='dark'] {
    --theme-border: #000;
    --theme-bg1: #1f1f1f;
    --theme-bg2: #111;
    --text-p0: #fff;
    --text-p1: #fff;
    --text-p2: #e0e0e0;
    --text-p3: #ddd;
    --text-code: #fff;
}
#Dark .tag-plugin[color='warning'],
#Dark .tag-plugin[color='light'] {
    --text-p0: #000;
    --text-p1: #111;
    --text-p2: #1f1f1f;
    --text-p3: #555;
    --text-code: #fff;
}
#Dark .social-wrap a.social:hover {
    box-shadow: none;
}

